.splash-logo {
  width: 35%;
  display: block;
  margin: 10px auto;
}

.col-wrapper {
  display: block;
}

.intro-content {
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
  margin: 0;
  list-style-type: none;
  padding: 35px 40px;
  color: #fff;
  background: url(../images/bg-pattern2.svg), #00ac5a;
  background-repeat: repeat;
  background-position: 0 0;
  background-size: cover;
}

.intro-content ul {
  list-style: none;
  position: relative;
  font-size: 15px;
}

.intro-content > li {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-bottom: 2rem;
  padding: 3px 0;
}

.intro-content li:before {
  content: '\f00c';
  font-family: FontAwesome;
  font-weight: normal;
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
}

.intro-content h5 {
  margin: 0;
  font-size: 24px;
  color: #fff;
  font-weight: 500;
}

.intro-content p {
  font-size: 16px;
}

/* form */
.form-container {
  padding-top: 60px;
}

.formlabel {
  margin: 12px 0;
  color: #666;
}

/* Modification for stepsForm.css */
.sf-content h5 {
  padding: 13px 0;
  border-bottom: 1px solid #c8c8c8;
  font-size: 24px;
  color: #000;
  font-weight: 500;
}

.sf-content {
  list-style: none;
}

/* progress bar */
.form-progress {
  height: 40px;
  margin-bottom: 20px;
}

.form-progress-label {
  font-size: 12px;
  color: #fff;
  font-weight: bold;
}

.progress-bar-s1,
.progress-bar-s2,
.progress-bar-s3 {
  line-height: 20px;
}

.progress-bar-value {
  font-weight: bold;
}

.progress-bar-s1 {
  background-color: #ec6e00;
}

.progress-bar-s2 {
  background-color: #00ac5a;
}

.progress-bar-s3 {
  background-color: #008bcc;
}

/* footer */
.footer {
  padding: 45px 0;
  text-align: center;
}
